[Desktop Entry]
Type=Application
Name=Gcolor3
GenericName=A simple color selection dialog in GTK3
Comment=Choose colors from palette or screen
Icon=gcolor2
Terminal=false
Exec=gcolor3
Categories=GNOME;GTK;Graphics;